html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.btn.active {
    background-color: #fff;
    color: #0d6efd;
    font-weight: 600;
    border-color: #fff;
}
